{% extends 'index/baseIndex.html' %}

{% block content %}
    <div class="flex justify-around bg-orange-400">
        <div class="self-center">
        {% if user.is_authenticated %}
            <p class="text-xl font-bold text-center mt-5">Bienvenido <span class="italic">{{ user.get_username }}</span></p>
            <a href="{% url 'logout'%}?next={{request.path}}" class="block text-center font-bold text-gray-600">Cerrar Sesión</a>
            {% else %}
            <a href="{% url 'login'%}?next={{request.path}}">Ingresar</a>
        {% endif %} 
        </div>
        <div class="self-center">
            <form method="get">
                <select name="estado">
                    <option value="TODO">Todo</option>
                    <option value="INPROGRESS" selected>In progress</option>
                    <option value="DONE">Done</option>
                    <option value="CLOSE">Close</option>
                </select>
                <button type="submit">Filtrar búsqueda</button>
            </form>
            <form method="get">
                <input type="text" name="buscar">
                <button type="submit">Buscar por nombre, descripción</button>
            </form>
        </div>
    </div>

    <div class="md:grid md:grid-cols-2">
        
        <form action="" method="POST">
            <legend class="text-center font-bold text-xl my-5">Crear nueva tarea</legend>
            {% csrf_token %}

            {{form.nombre}}
            {{form.descripcion}}
            <p class="text-center my-4">{{form.status}}</p>
            <p class="text-center my-4">{{form.vencimiento}}</p>
            <input type="Submit" value="Crear" name="Crear tarea" class="mx-auto block py-2 px-4 bg-orange-400">
        </form>

        <div class="my-5  rounded-lg w-3/4 mx-auto ">
            {% for tarea in tareas %}

            <div class="bg-blue-200 my-4 border-4">
                <div class="text-center py-4 px-4">
                    <h1 class="font-bold uppercase">{{tarea.nombre}}</h1>
                    <p class="italic">{{tarea.descripcion}}</p>
                    <p class="italic font-bold text-right">Estado: {{tarea.status}}</p>
                </div>
                <div class="flex justify-center">
                    <a href="{% url 'editar_tarea' tarea.id %}" class="py-1 px-2 mr-2 bg-amber-500">Editar</a>
                    <a href="{% url 'eliminar_tarea' tarea.id %}" class="py-1 px-2 bg-amber-500">Borrar</a>
                </div>
            </div>

            {% endfor %}
        </div>
    

    </div>

{% endblock %}