{% extends 'index/baseIndex.html' %}

{% block content %}


<!-- -----------HEADER---------- -->

    <div class=" sm:my-4 md:flex md:justify-around bg-orange-400 md:mt-0">
        <div class="self-center sm:py-4">

        {% if user.is_authenticated %}

            <p class=" text-xl font-bold text-center md:mt-5">Bienvenido <span class="italic">{{ user.get_username }}</span></p>
            <a href="{% url 'logout'%}?next={{request.path}}" class="block text-center font-bold text-gray-600">Cerrar Sesión</a>
            
        {% else %}
        
            <a href="{% url 'login'%}?next={{request.path}}">Ingresar</a>
        
        {% endif %} 

        </div>

    <!-- -------------FILTROS BUSQUEDA----------- -->

        <div class="self-center">
            <form method="get" class="my-2">
                <button type="submit" class="block mx-auto font-bold my-1">Filtrar búsqueda</button>
                <select name="estado" class="block mx-auto">
                    <option value="TODO">Todo</option>
                    <option value="INPROGRESS" selected>In progress</option>
                    <option value="DONE">Done</option>
                    <option value="CLOSE">Close</option>
                </select>
                
            </form>

            <form method="get" class="py-2">
                <button type="submit" class="block mx-auto font-bold my-1">Buscar por nombre, descripción</button>
                <input type="text" name="buscar" class="block mx-auto">
            </form>
        </div>
    </div>

<!-- ------------SECTION PARA CREAR NUEVA TAREA------------- -->

    <div class="md:grid md:grid-cols-2">
        
        <form action="" method="POST">
            <legend class="text-center font-bold text-xl my-5">Crear nueva tarea</legend>
            {% csrf_token %}

            {{form.nombre}}
            {{form.descripcion}}

            <p class="text-center my-4">{{form.status}}</p>
            <p class="text-center my-4">{{form.vencimiento}}</p>
            <input type="Submit" value="Crear" name="Crear tarea" class="mx-auto block py-2 px-4 bg-orange-400 hover:bg-orange-300">
        </form>

    <!-- ---------SECTION DE LISTADO DE TAREAS--------- -->

        <div class="my-5  rounded-lg w-3/4 mx-auto ">
            {% if tareas %}
            {% for tarea in tareas %}

                {% if tarea.status == 'TODO' %}
                    <div class="bg-amber-400 my-4 border-4">
                        <div class="text-center py-4 px-4">
                            <h1 class="font-bold uppercase">{{tarea.nombre}}</h1>
                            <p class="italic">{{tarea.descripcion}}</p>
                            <p class="italic font-bold text-right">Estado: {{tarea.status}}</p>
                        </div>
                        <div class="flex justify-center">
                            <a href="{% url 'editar_tarea' tarea.id %}" class="py-1 px-2 mr-2 bg-amber-500 hover:bg-amber-300">Editar</a>
                            <a href="{% url 'eliminar_tarea' tarea.id %}" class="py-1 px-2 bg-amber-500 hover:bg-amber-300">Borrar</a>
                        </div>
                    </div>
                {% elif tarea.status == 'INPROGRESS' %}
                    <div class="bg-green-400 my-4 border-4">
                        <div class="text-center py-4 px-4">
                            <h1 class="font-bold uppercase">{{tarea.nombre}}</h1>
                            <p class="italic">{{tarea.descripcion}}</p>
                            <p class="italic font-bold text-right">Estado: {{tarea.status}}</p>
                        </div>
                        <div class="flex justify-center">
                            <a href="{% url 'editar_tarea' tarea.id %}" class="py-1 px-2 mr-2 bg-amber-500 hover:bg-amber-300">Editar</a>
                            <a href="{% url 'eliminar_tarea' tarea.id %}" class="py-1 px-2 bg-amber-500 hover:bg-amber-300">Borrar</a>
                        </div>
                    </div>
                {% elif tarea.status == 'CLOSE' %}
                    <div class="bg-gray-400 my-4 border-4">
                        <div class="text-center py-4 px-4">
                            <h1 class="font-bold uppercase">{{tarea.nombre}}</h1>
                            <p class="italic">{{tarea.descripcion}}</p>
                            <p class="italic font-bold text-right">Estado: {{tarea.status}}</p>
                        </div>
                        <div class="flex justify-center">
                            <a href="{% url 'editar_tarea' tarea.id %}" class="py-1 px-2 mr-2 bg-amber-500 hover:bg-amber-300">Editar</a>
                            <a href="{% url 'eliminar_tarea' tarea.id %}" class="py-1 px-2 bg-amber-500 hover:bg-amber-300">Borrar</a>
                        </div>
                    </div>
                {% elif tarea.status == 'DONE' %}
                    <div class="bg-red-400 my-4 border-4">
                        <div class="text-center py-4 px-4">
                            <h1 class="font-bold uppercase">{{tarea.nombre}}</h1>
                            <p class="italic">{{tarea.descripcion}}</p>
                            <p class="italic font-bold text-right">Estado: {{tarea.status}}</p>
                        </div>
                        <div class="flex justify-center">
                            <a href="{% url 'editar_tarea' tarea.id %}" class="py-1 px-2 mr-2 bg-amber-500 hover:bg-amber-300">Editar</a>
                            <a href="{% url 'eliminar_tarea' tarea.id %}" class="py-1 px-2 bg-amber-500 hover:bg-amber-300">Borrar</a>
                        </div>
                    </div>

                {% endif %}

            {% endfor %}
            {% else %}
                    <p class="text-center font-bold italic">NO HAY TAREAS, HACETE ALGUNAS</p>
            {% endif %}
        </div>
    

    </div>

{% endblock %}