{% extends 'registration/baseLogin.html' %}

{% block content %}
    <h2 class="text-center font-bold text-xl my-5">REGISTRO DE USUARIO</h2>

    <form method="post" action="" class="p-5 bg-gray-200 sm:w-3/4 md:1/2 mx-auto border rounded-lg">
    {% csrf_token %}
        <div class="my-2 ">
            <td>{{ form }}</td>
        </div>

        <div >
            <input type="submit" value="REGISTRARME" class="py-2 px-3 block mx-auto bg-gray-400 hover:bg-gray-200"/>
            
        </div>
    </form>


    <p><a href="{% url 'login' %}" class="block text-center mt-5 font-bold">YA TENGO USUARIO Y CONTRASEÑA</a></p>

{% endblock %}